<div class="footer">
    <div class="container-fluid p-5">
     <div class="row g-0">
        <div class="col-md-4 text-center text-white">
            <h3>LOCATION</h3>
            <P>2215 John Daniel Drive</P>
            <P>Clark, MO 65243</P>
        </div>
        <div class="col-md-4 text-center text-white">
            <h3>AROUND THE WEB</h3>
            <div class="icons">
                <i class="fa-brands fa-facebook mx-1 icon"></i>
                <i class="fa-brands fa-twitter mx-1 icon"></i>
                <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
                <i class="fa-solid fa-globe mx-1 icon"></i>
            </div>
        </div>
        <div class="col-md-4 text-center text-white">
            <h3>ABOUT FREELANCER</h3>
            <P>Freelance is a free to use, licensed Bootstrap theme created by Route</P>
        </div>
     </div>
    </div>
</div>
<div class="content text-white text-center pt-3">
    <p>Copyright © Your Website 2021</p>
</div>